google-cloud-storage==2.18.2
python-dotenv
scikit-image
polars
joblib
safetensors
ipywidgets
aiofiles
statsmodels==0.14.0
craftax
playwright
jupyterlab
matplotlib
seaborn
tqdm
nicegui==2.10.1
jax<=0.4.22
jaxlib<=0.4.22
git+https://github.com/wcarvalho/JaxMaze.git
git+https://github.com/wcarvalho/jaxneurorl.git
git+https://github.com/wcarvalho/nicewebrl.git